BUILD_TYPE = DEBUG
//WALLET_HOST_URL = 
VERIFIER_API_URI = https:/$()/dev.verifier.eudiw.dev
VERIFIER_LEGAL_NAME = EUDI Verifier
VCI_ISSUER_URL = https:/$()/oid4vc-issuer-endpoint-hono.g-trustedweb.workers.dev/
VCI_CLIENT_ID = tw24.wallet.dentsusoken.com
VCI_REDIRECT_URI = eudi-openid4ci:/$()/authorize/
CORE_USER_AUTH = false
